<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maximeleau.harmony.android.pokemon"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="@string/app_version">
    <!--<uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.maximeleau.harmony.android.pokemon.permission.C2D_MESSAGE" />
    <permission
        android:name="com.maximeleau.harmony.android.pokemon.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <application
        android:name=".PokemonApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- Stack engagement -->
        <service
            android:name="com.microsoft.azure.engagement.service.EngagementService"
            android:exported="false"
            android:label="@string/app_name"
            android:process=":Engagement" />

        <meta-data
            android:name="engagement:reach:notification:icon"
            android:value="engagement_close" />
        <meta-data
            android:name="engagement:gcm:sender"
            android:value="337018042586\n" />
        <receiver android:name="com.microsoft.azure.engagement.gcm.EngagementGCMEnabler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.microsoft.azure.engagement.intent.action.APPID_GOT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.PokemonDataPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.DATA_PUSH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.microsoft.azure.engagement.gcm.EngagementGCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.maximeleau.harmony.android.pokemon" />
            </intent-filter>
        </receiver>

        <activity android:name="com.microsoft.azure.engagement.reach.activity.EngagementTextAnnouncementActivity" android:theme="@android:style/Theme.Light" android:exported="false">
            <intent-filter>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.ANNOUNCEMENT"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="com.microsoft.azure.engagement.reach.activity.EngagementWebAnnouncementActivity" android:theme="@android:style/Theme.Light" android:exported="false">
            <intent-filter>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.ANNOUNCEMENT"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
        <activity android:name="com.microsoft.azure.engagement.reach.activity.EngagementPollActivity" android:theme="@android:style/Theme.Light" android:exported="false">
            <intent-filter>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.POLL"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.microsoft.azure.engagement.reach.activity.EngagementLoadingActivity" android:theme="@android:style/Theme.Dialog" android:exported="false">
            <intent-filter>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.LOADING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.microsoft.azure.engagement.reach.EngagementReachReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.microsoft.azure.engagement.intent.action.AGENT_CREATED"/>
                <action android:name="com.microsoft.azure.engagement.intent.action.MESSAGE"/>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.ACTION_NOTIFICATION"/>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.EXIT_NOTIFICATION"/>
                <action android:name="com.microsoft.azure.engagement.reach.intent.action.DOWNLOAD_TIMEOUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.microsoft.azure.engagement.reach.EngagementReachDownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <!-- End stack engagement -->

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".view.personnagenonjoueur.PersonnageNonJoueurCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.personnagenonjoueur.PersonnageNonJoueurEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.personnagenonjoueur.PersonnageNonJoueurShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.personnagenonjoueur.PersonnageNonJoueurListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badge.BadgeCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Badge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badge.BadgeEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Badge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badge.BadgeShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Badge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.badge.BadgeListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Badge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.position.PositionCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Position" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.position.PositionEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Position" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.position.PositionShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Position" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.position.PositionListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Position" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arene.AreneCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Arene" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arene.AreneEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Arene" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arene.AreneShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Arene" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.arene.AreneListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Arene" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeattaque.TypeAttaqueCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeAttaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeattaque.TypeAttaqueEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeAttaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeattaque.TypeAttaqueShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeAttaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeattaque.TypeAttaqueListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.TypeAttaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaque.AttaqueCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Attaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaque.AttaqueEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Attaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaque.AttaqueShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Attaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attaque.AttaqueListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Attaque" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseur.DresseurCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Dresseur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseur.DresseurEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Dresseur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseur.DresseurShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Dresseur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.dresseur.DresseurListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Dresseur" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typeobjet.TypeObjetListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.TypeObjet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objet.ObjetCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Objet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objet.ObjetEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Objet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objet.ObjetShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Objet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.objet.ObjetListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Objet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.profession.ProfessionCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Profession" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.profession.ProfessionEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Profession" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.profession.ProfessionShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Profession" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.profession.ProfessionListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Profession" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemon.PokemonCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Pokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemon.PokemonEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Pokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemon.PokemonShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Pokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemon.PokemonListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Pokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.personnagenonjoueurbadge.PersonnageNonJoueurBadgeCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueurBadge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.personnagenonjoueurbadge.PersonnageNonJoueurBadgeEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueurBadge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.personnagenonjoueurbadge.PersonnageNonJoueurBadgeShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueurBadge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.personnagenonjoueurbadge.PersonnageNonJoueurBadgeListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.PersonnageNonJoueurBadge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemon.TypeDePokemonCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemon.TypeDePokemonEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemon.TypeDePokemonShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemon.TypeDePokemonListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.TypeDePokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zone.ZoneCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Zone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zone.ZoneEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Zone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zone.ZoneShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Zone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.zone.ZoneListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Zone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonevolution.TypeDePokemonEvolutionCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemonEvolution" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonevolution.TypeDePokemonEvolutionEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemonEvolution" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonevolution.TypeDePokemonEvolutionShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemonEvolution" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonevolution.TypeDePokemonEvolutionListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.TypeDePokemonEvolution" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonzone.TypeDePokemonZoneCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemonZone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonzone.TypeDePokemonZoneEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemonZone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonzone.TypeDePokemonZoneShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.TypeDePokemonZone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typedepokemonzone.TypeDePokemonZoneListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.TypeDePokemonZone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.combat.CombatCreateActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Combat" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.combat.CombatEditActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Combat" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.combat.CombatShowActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.maximeleau.harmony.android.pokemon.Combat" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.combat.CombatListActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.maximeleau.harmony.android.pokemon.Combat" />
            </intent-filter>
        </activity>
        <activity android:name=".view.chooseaction.ChooseActionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.connexion.ConnexionActivity"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.choosepokemon.ChoosePokemonActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.choosepokemon.ChoosePokemonShowAttacksActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.combatmanager.CombatManagerShowActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.connectedchooseaction.ConnectedChooseActionActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:name=".provider.PokemonProvider"
            android:authorities="com.maximeleau.harmony.android.pokemon.provider"
            android:description="@string/app_provider_description"
            android:exported="false"
            android:label="@string/app_provider_name" />
        <provider
            android:name="com.maximeleau.harmony.android.pokemon.provider.PokemonProvider"
            android:authorities="com.maximeleau.harmony.android.pokemon.provider"
            android:label="@string/app_provider_name"
            android:description="@string/app_provider_description"
            android:exported="false" />
    </application>
</manifest>
